
/*  Put your CSS Here */
body {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.smoky {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

form {
    background-color: black;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    background-color: black;
    color: white;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    margin: 10px 0;
}
input::placeholder {
    color: white;
    opacity: 1; 
  }

select {
    appearance: none;
    -webkit-appearance: none;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    margin: 10px 0;
  }

button {
    background-color: #57B946;
    color: white;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 9999px;
    margin-top: 10px;
}

.selectWrapper {
    position: relative;
} 
.selectWrapper:after {
    content: '>';
    font: 17px "Consolas", monospace;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    pointer-events: none;

    right: 10px;
    bottom: 15px;
}